body {
  padding: 0;
  margin: 0;
}
header {
  background-color: lavender;
  padding: 1.5em;
}
header p {
  margin: 1em 0 0;
}
.layout > .content {
  padding: 0 1.5em;
}
h1 {
  font-size: 3em;
  line-height: 1.05;
  margin: 0;
}
